@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@300&family=Satisfy&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Courgette', cursive;
  letter-spacing: 2px;
  color: rgb(123, 123, 245);
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 70px;
  align-items: center;
  justify-content: space-around;
  /* border: 2px solid blue; */
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #f3f3f3;
  /* box-shadow: 1px 1px 1px 1px rgb(184, 180, 180); */
  z-index: 1;



}

.navlink {
  display: flex;
  /* border: 2px solid green; */
  gap: 2rem;
  align-items: center;
  color: black;
}

.navlink a,
.sideNav a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: grey
}

.sideNav {
  flex-direction: column;
  display: flex;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: #e6e4e4;
  align-items: center;
  width: 200px;
  height: calc(100vh - 70px);
  gap: 1.5rem;
  padding-top: 20px;
  transition: 0.3s all ease;
  z-index: -3;
}

.active a {
  color: black
}

.hidden {
  left: -100%;
}

.menu-icons {
  font-size: 23px;

}

.login-container {
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 350px;
  gap: 10px;
  font-family: 'Poppins', sans-serif;
}

.login,
.register,
.cart {
  font-size: 16px;
  padding: 5px 14px 5px 5px;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  min-width: 110px;

}

.login:hover {
  background-color: rgb(48, 45, 45);
  color: white;
}

.register:hover {
  background-color: rgb(48, 45, 45);
  color: white;
}

.cart:hover {
  background-color: rgb(48, 45, 45);
  color: white;
}

.icons {
  margin-left: 10px;
}

.homepage-container {
  width: 100%;
  height: 100%;
}

.bg-container {
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
  /* position: relative; */
}

.intro-img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.content {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  top: 35%;
  left: 5%;
  font-family: 'Poppins', sans-serif;
}

.heading {
  font-size: 3rem;
  letter-spacing: 3px;
  color: white;
  font-weight: bold;
}

.paragraph {
  font-size: 25px;
  color: white;
  letter-spacing: 2px;
}

.product-container {
  /* border: 2px solid red; */
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.latest {
  /* border: 2px solid green; */
  width: 90%;
  /* height: 250px; */
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid black;
  margin-top: 50px;
}

.btn-container {
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 50px;
  width: 650px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;

}

.btn-icons {
  font-size: 16px;
  padding: 7px 10px 7px 10px;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  /* box-shadow: 0px 0.5px 0px 0.5px rgb(0, 0, 0.5); */
  font-family: 'Poppins', sans-serif;
}

.active-btn {
  background-color: rgb(48, 45, 45);
  color: white
}

.btn-icons:hover {
  background-color: rgb(48, 45, 45);
  color: white;
}

.card-wrapper {
  display: flex;
  /* border: 2px solid blue; */
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 20px;
  margin-top: 50px;
}

.card-container {
  border: 1px solid grey;
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.card-img {
  width: 225px;
  height: 260px;
  /* border: 2px solid green; */
}

.card-body {
  width: 215px;
  height: 110px;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.card-title {
  font-size: 23px;
  font-family: 'Poppins', sans-serif;
}

.price {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.buy-now {
  font-size: 16px;
  text-decoration: none;
  border: 2px solid black;
  padding: 5px 8px 5px 8px;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  color: black;
}

.buy-now:hover {
  background-color: rgb(48, 45, 45);
  color: white;
}

.box-container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.img-box,
.box-img {
  /* border: 2px solid blue; */
  width: 400px;
  height: 400px;
  margin-left: 40px;
}

.desc-container {
  /* border: 2px solid yellow; */
  width: 600px;
  height: 400px;
  font-family: 'Poppins', sans-serif;
  margin-right: 40px;

}

.head {
  font-size: 25px;
  color: grey;
}

.title {
  font-size: 35px;

}

.product-price {
  font-size: 35px;
  margin-top: 15px;
}

.product-desc {
  font-size: 20px;
  color: grey;
  margin-top: 15px;
}

.product-rating {
  font-weight: bolder;
}

.cart-btn {
  font-size: 16px;
  text-decoration: none;
  border: 2px solid black;
  padding: 4px 6px 4px 6px;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  color: black;
  margin-right: 20px;
}

.cart-btn:hover {
  background-color: rgb(48, 45, 45);
  color: white;
}

/* loader css start from here  */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: black;
  animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

/* loader css end here  */