@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@300&family=Satisfy&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navbar css starts from here */

.logo {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Courgette', cursive;
  letter-spacing: 3px;
  color: black;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 70px;
  align-items: center;
  justify-content: space-around;
  /* border: 2px solid blue; */
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #e5eaf5;
  z-index: 1;



}

.navlink {
  display: flex;
  /* border: 2px solid green; */
  gap: 2rem;
  align-items: center;
  color: black;
  margin-right: 10px;
}

.navlink div a,
.sideNav div a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: grey
}

.sideNav {
  flex-direction: column;
  display: flex;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: rgb(216, 237, 245);
  align-items: center;
  width: 200px;
  height: calc(100vh - 70px);
  gap: 1.5rem;
  padding-top: 20px;
  transition: 0.3s all ease;
  z-index: -3;
}

.navlink .active a,
.sideNav .active a {
  color: black;
}

.navlink .auth-active a,
.sideNav .auth-active a {
  color: white;
  background-color: black;

}

.hidden {
  left: -100%;
}

.menu-icons {
  font-size: 23px;

}

.login-container {
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.auth-links {
  font-size: 17px;
  padding: 3px 0px 0px 0px;
  background-color: white;
  cursor: pointer;
  min-width: 102px;
  height: 40px;
  text-decoration: none;
  color: black;
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 4px;
}

.auth-links:hover {
  background-color: rgb(68, 64, 64);
  color: white;

}

.icons {
  margin: 5px 5px -2px 10px
}

.active-auth {
  color: white;
  background-color: rgb(68, 64, 64);
}

/* Login & Signup components css starts from here */

.login-box {
  border: 1px solid grey;
  width: 400px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 115px;
  font-family: 'Poppins', sans-serif;
  padding: 10px;

}

.login-heading {
  /* border: 2px solid red; */
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.social-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75px;
  margin-top: 20px;
}

.google {
  /* width: 350px; */
  height: 30px;
  font-size: 15px;
  background-color: #0d6efd;
  border-radius: 3px;
  color: white;
  border: none;
  cursor: pointer;
}

.facebook {
  height: 30px;
  font-size: 15px;
  background-color: #0d6efd;
  border-radius: 3px;
  color: white;
  border: none;
  cursor: pointer;
}

.email-address {
  font: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.email {
  height: 30px;
  font-size: 16px;
  margin-top: 5px;
  border-radius: 3px;
  outline: none;
  padding: 3px;
  border: 1px solid black;


}

.not-share {
  font-size: 13px;
}

.password {
  font: 20px;
  font-weight: bold;
  margin-top: 10px;

}

.pass {
  height: 30px;
  font-size: 16px;
  margin-top: 5px;
  border-radius: 3px;
  outline: none;
  padding: 3px;
  border: 1px solid black;
}

.check {
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
}

.submit {
  height: 30px;
  font-size: 16px;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #0d6efd;
  margin-top: 30px;
}

.submit:hover {
  background-color: rgb(68, 64, 64);
  border: none;
  color: white;
}

.signup-box {
  border: 1px solid grey;
  width: 400px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 77px;
  font-family: 'Poppins', sans-serif;
  padding: 10px;

}


/* Home page component css starts from here */

.intro-img {
  height: 60vh;
  width: 100%;
}

.content {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35%;
  left: 5%;
  font-family: 'Poppins', sans-serif;
}

.heading {
  font-size: 3rem;
  letter-spacing: 3px;
  color: black;
  font-weight: bold;
}

.paragraph {
  font-size: 25px;
  color: black;
  letter-spacing: 2px;
}

/* Product component css starts from here */

.product-container {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.latest {
  /* border: 2px solid green; */
  width: 90%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid black;
  margin-top: 50px;
}


.btn-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.btn-icons {
  font-size: 16px;
  padding: 7px 10px 7px 10px;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.active-btn {
  background-color: rgb(48, 45, 45);
  color: white
}

.btn-icons:hover {
  background-color: rgb(48, 45, 45);
  color: white;
}

.card-wrapper {
  display: flex;
  /* border: 2px solid blue; */
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 20px;
  margin-top: 50px;
}

/* Card content css starts from here */

.card-container {
  border: 1px solid grey;
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease-in-out;
}

.card-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img {
  width: 225px;
  height: 260px;
  /* border: 2px solid green; */
}

.card-body {
  width: 215px;
  height: 110px;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.card-title {
  font-size: 23px;
  font-family: 'Poppins', sans-serif;
}

.price {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.buy-now {
  font-size: 16px;
  text-decoration: none;
  border: 2px solid black;
  padding: 5px 8px 5px 8px;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  color: black;
}

.buy-now:hover {
  background-color: rgb(48, 45, 45);
  color: white;
}


/* Product card component css starts from here */

.box-container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}

.go-back {
  /* border: 2px solid red; */
  width: 45%;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.img-box,
.box-img {
  /* border: 2px solid blue; */
  width: 300px;
  height: 325px;
  margin-left: 40px;
}

.desc-container {
  /* border: 2px solid yellow; */
  width: 600px;
  font-family: 'Poppins', sans-serif;
  margin-right: 40px;
  margin-bottom: 10px;
  padding: 5px;

}

.head {
  font-size: 25px;
  color: grey;
}

.title {
  font-size: 35px;

}

.product-price {
  font-size: 35px;
  margin-top: 15px;
}

.product-desc {
  font-size: 20px;
  color: grey;
  margin-top: 15px;
}

.product-rating {
  font-weight: bolder;
}

.button-btn {
  font-size: 16px;
  text-decoration: none;
  border: 2px solid black;
  padding: 4px 6px 4px 6px;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  color: black;
  margin-right: 20px;
}

.button-btn:hover {
  background-color: rgb(48, 45, 45);
  color: white;
}

/* Loader component css start from here  */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: black;
  animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}


/* Cart component css starts from here */

.main-container {
  /* border: 2px solid red; */
  width: 100%;
  height: 325px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  background-color: #fcf7f7bd;
  box-shadow: 1px 2px 1px 2px rgb(211, 207, 207);
  font-family: 'Poppins', sans-serif;
}

.product-box {
  /* border: 2px solid blue; */
  width: 210px;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.product-img {
  /* border: 2px solid yellow; */
  width: 200px;
  height: 225px;

}

.product-details {
  /* border: 2px solid blueviolet; */
  width: 380px;
  margin-left: 100px;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

.update-btn {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.item-qty {
  font-size: 17px;
  font-weight: bold;
}

.inc-dec {
  font-size: 25px;
  width: 33px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
}

.inc-dec:hover {
  background-color: rgb(48, 45, 45);
  color: white;
}

.close-icon {
  font-size: 20px;
  cursor: pointer;
  margin-top: 25px;
  margin-left: 100px;
}

.empty-cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.proceed-container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;

}

.proceed {
  height: 30px;
  font-size: 18px;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid black;
  margin-top: 30px;
  width: 225px;
  height: 40px;
}

.proceed:hover {
  background-color: rgb(68, 64, 64);
  border: none;
  color: white;
}


/* About page component css starts from here */

.about-container {
  /* border: 2px solid red; */
  width: 80%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;

}

.heading-container {
  /* border: 2px solid black; */
  width: 625px;
  display: flex;
  flex-direction: column;
}

.aboutimg-conatiner {
  /* border: 2px solid green; */
  width: 510px;
  height: 460px;
}

.about-img {
  /* border: 2px solid violet; */
  width: 500px;
  height: 450px;
  padding: 5px;
}

.contact-btn {
  font-size: 18px;
  text-decoration: none;
  width: 100px;
  padding: 5px 8px 5px 15px;
  background-color: #0d6efd;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  color: white;
  border: none;
}

.about-heading {
  font-size: 40px;
  color: rgb(244, 115, 67)
}

.about-content {
  font-size: 20px;
  margin-top: 20px;
}


/* Contact page component css starts from here */

.big-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  border-bottom: 1px solid black;
  margin-top: 25px;
  font-family: 'Poppins', sans-serif;
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: center;


}

.questions {
  font-size: 40px;
  color: black;
}

.form-container {
  /* border: 2px solid red; */
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contact-img {
  /* border: 2px solid blue; */
  width: 410px;
  height: 360px;
  margin-left: 25px;
}

.img-contact {
  /* border: 2px solid yellow; */
  width: 400px;
  height: 350px;
  padding: 5px;
}

.form-page {
  /* border: 2px solid yellowgreen; */
  display: flex;
  flex-direction: column;
  width: 525px;
  height: 450px;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 50px;
  margin-right: 25px;
}

.txt {
  font-size: 18px;
  height: 33px;
  width: 500px;
  padding: 5px;
  outline: none;
  border-radius: 2px;
  border: 1px solid black;
  margin-top: 5px;
}

.label {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

.msg-txt {
  width: 500px;
  padding: 5px;
  border: 1px solid black;
  outline: none;
  border-radius: 2px;
  font-size: 18px;
  margin-top: 5px;
}

.submit-btn {
  font-size: 18px;
  text-decoration: none;
  width: 100px;
  padding: 5px 8px 5px 8px;
  background-color: #0d6efd;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  color: white;
  border: none;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1000px) {

  .content {
    left: 1%
  }

  .heading {
    font-size: 2.3rem;
  }

  .paragraph {
    font-size: 23px;
  }
}

@media only screen and (max-width: 700px) {

  .heading {
    font-size: 1.8rem;
  }

  .paragraph {
    font-size: 20px;
  }

  .logo {
    font-size: 1.75rem;
    letter-spacing: 2px;
  }

  .intro-img {
    height: 55vh;
  }

  .latest {
    width: 85%;
    font-size: 18px;
  }

  .btn-container {
    margin-top: 45px;
    gap: 1rem;
  }

  .btn-icons {
    font-size: 14px;
    padding: 4px 7px 4px 7px
  }

  .card-img {
    width: 200px;
    height: 235px;
  }

  .card-title {
    font-size: 20px;
  }

  .price {
    font-size: 18px;
  }

  buy-now {
    font-size: 15px;
    padding: 3px 6px 3px 6px;
    margin-top: 15px;
  }

  .card-body {
    width: 180px;
    height: 115px;
    margin-bottom: 10px;
  }

  .card-container {
    width: 275px;
    height: 425px;
  }
}

@media only screen and (max-width: 550px) {
  .btn-container {
    display: flex;
    flex-wrap: wrap;

  }

  .latest {
    width: 83%;
    font-size: 15px;
  }

  .logo {
    font-size: 1.6rem;
  }

  .heading {
    font-size: 1.3rem;
    letter-spacing: 2px;
  }

  .paragraph {
    font-size: 16px;
    letter-spacing: 1px;
  }

  .intro-img {
    height: 40vh;
  }

  .content {
    top: 27%;
  }

  .navlink div a,
  .sideNav div a {
    font-size: 18px;
  }

  .auth-links {
    font-size: 15px;
    padding: 4px 0px 0px 0px;
    min-width: 96px;
    height: 38px;
  }
}

@media only screen and (max-width: 400px) {


  .latest {
    width: 80%;
    font-size: 13px;
  }

  .logo {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }

  .heading {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  .paragraph {
    font-size: 12px;
    letter-spacing: 0px;
  }

  .intro-img {
    height: 25vh;
  }

  .content {
    top: 20%;
  }

  .card-img {
    width: 185px;
    height: 210px;
  }

  .card-title {
    font-size: 18px;
  }

  .price {
    font-size: 16px;
  }

  .buy-now {
    font-size: 14px;
    padding: 3px 7px 3px 7px;
    margin-top: 15px;
  }

  .card-body {
    width: 170px;
    height: 100px;
    margin-bottom: 10px;
  }

  .card-container {
    width: 260px;
    height: 400px;
  }
}

@media only screen and (max-width: 1000px) {
  .box-container {

    justify-content: space-between;
    padding: 10px;

  }

  .desc-container {
    margin-right: 0px;
    width: 500px;

  }

  .head {
    font-size: 23px;
  }

  .title {
    font-size: 30px;
  }

  .product-price {
    font-size: 30px;
  }

  .product-desc {
    font-size: 18px;
  }

  .img-box,
  .box-img {
    width: 275px;
    height: 300px;
    margin-left: 0px;
  }

  .button-btn {
    font-size: 15px;
  }

  .go-back {
    width: 27%;

  }
}

@media only screen and (max-width: 700px) {

  .desc-container {
    width: 350px;

  }

  .head {
    font-size: 20px;
  }

  .title {
    font-size: 25px;
  }

  .product-price {
    font-size: 25px;
  }

  .product-desc {
    font-size: 16px;
  }

  .img-box,
  .box-img {
    width: 225px;
    height: 250px;
  }

  .button-btn {
    font-size: 14px;
  }

  .go-back {
    width: 25%;
    margin-bottom: 10px;

  }

  .product-rating {
    font-size: 13px;
  }
}

@media only screen and (max-width: 550px) {
  .box-container {

    margin-top: -5px;

  }

  .desc-container {
    width: 300px;

  }

  .head {
    font-size: 16px;
  }

  .title {
    font-size: 20px;
  }

  .product-price {
    font-size: 20px;
  }

  .product-desc {
    font-size: 14px;
  }

  .img-box,
  .box-img {
    width: 150px;
    height: 175px;
  }

  .button-btn {
    font-size: 13px;
    padding: 4px 5px 4px 5px
  }

  .go-back {
    width: 23%;
    font-size: 20px;

  }

  .product-rating {
    font-size: 12px;
  }
}

@media only screen and (max-width: 400px) {


  .desc-container {
    width: 255px;

  }

  .head {
    font-size: 14px;
  }

  .title {
    font-size: 18px;
  }

  .product-price {
    font-size: 18px;
  }

  .product-desc {
    font-size: 12px;
  }

  .img-box,
  .box-img {
    width: 100px;
    height: 125px;
  }

  .button-btn {
    font-size: 12px;
    padding: 3px 4px 3px 4px;
  }

  .go-back {
    width: 20%;
    font-size: 20px;

  }

  .product-rating {
    font-size: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .main-container {
    justify-content: space-around;
  }

  .product-img {
    width: 150px;
    height: 165px;
  }

  .product-box {
    width: 160px;
    margin-right: 90px
  }

  .proname {
    font-size: 20px;
  }

  .total-price {
    font-size: 16px;
  }

  .inc-dec {
    font-size: 20px;
    width: 25px;
    height: 25px;
  }

  .update-btn {
    width: 80px;
  }

  .close-icon {
    font-size: 25px;
  }

  .main-container {
    height: 250px;
  }

  .proceed {
    font-size: 17px;
    width: 225px;
    height: 40px;
  }

  .product-details {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 650px) {
  .product-img {
    width: 100px;
    height: 110px;
  }

  .product-box {
    width: 110px;
  }

  .proname {
    font-size: 16px;
  }

  .total-price {
    font-size: 14px;
  }

  .inc-dec {
    font-size: 18px;
    width: 23px;
    height: 23px;
  }

  .item-qty {
    font-size: 16px;
  }

  .update-btn {
    width: 75px;
  }

  .close-icon {
    font-size: 27px;
    margin-right: 25px;
  }

  .main-container {
    height: 250px;
  }

  .proceed {
    font-size: 16px;
    width: 220px;
    height: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .product-img {
    width: 75px;
    height: 85px;
  }

  .product-box {
    width: 85px;
  }

  .proname {
    font-size: 14px;
  }

  .total-price {
    font-size: 12px;
  }

  .inc-dec {
    font-size: 16px;
    width: 20px;
    height: 20px;
  }

  .update-btn {
    width: 65px;
  }

  .close-icon {
    font-size: 30px;

  }

  .main-container {
    height: 200px;
  }

  .proceed {
    font-size: 14px;
    width: 200px;
    height: 35px;
  }

  .item-qty {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1000px) {
  .form-container {
    justify-content: space-between;
    padding: 10px;
  }

  .txt {
    font-size: 16px;
    width: 400px;

  }

  .msg-txt {
    width: 400px;
    font-size: 16px;
  }

  .form-page {
    width: 405px;
  }

  .submit-btn {
    font-size: 16px;
    width: 90px;
    padding: 7px 6px 7px 6px;
  }

  .contact-img {

    width: 360px;
    height: 310px;

  }

  .img-contact {
    width: 350px;
    height: 300px;

  }

  .questions {
    font-size: 35px;
  }

  .contact-container {
    width: 75%;
  }
}

@media only screen and (max-width: 800px) {
  .form-container {
    flex-direction: column;
    align-items: center;
    height: fit-content;
    justify-content: center;
  }

  .contact-container {

    height: 60px;
  }

  .label {
    font-size: 18px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 600px) {

  .txt {
    font-size: 14px;
    width: 300px;

  }

  .msg-txt {
    width: 300px;
    font-size: 14px;
  }

  .form-page {
    width: 305px;
    height: 400px;
    margin-top: 20px;
  }

  .submit-btn {
    font-size: 14px;
    width: 80px;
    padding: 7px 4px 7px 4px;
  }

  .contact-img {

    width: 310px;
    height: 260px;

  }

  .img-contact {
    width: 300px;
    height: 250px;

  }

  .questions {
    font-size: 25px;
  }

  .label {
    font-size: 17px;
  }
}

@media only screen and (max-width: 450px) {

  .txt {
    font-size: 13px;
    width: 250px;

  }

  .msg-txt {
    width: 250px;
    font-size: 13px;
  }

  .form-page {
    width: 255px;
  }

  .contact-container {
    width: 85%;
    height: 50px;
  }


  .submit-btn {
    font-size: 13px;
    width: 75px;
    padding: 7px 4px 7px 4px;
  }

  .contact-img {

    width: 260px;
    height: 210px;

  }

  .img-contact {
    width: 250px;
    height: 200px;

  }

  .questions {
    font-size: 20px;
  }

  .label {
    font-size: 16px;
  }
}


@media only screen and (max-width: 1000px) {
  .about-container {

    width: 100%;
    justify-content: space-between;
    padding: 10px;
  }
}